<!Doctype Html>  
<Html>     
     <Head>
          <Title>     
               Beautiful Soup Interior Design test
          </Title> 
          
     </Head>  

     <Body> 
          <img src="/static/image_1.jpg" alt=""/>
          <h1>Interior Design</h1>  

          <form action="/room_scenes" method="POST" id="form1">
               <label for="rooms">Choose a Room Type:</label>
                         <select name="rooms" id="rooms">
                              <option value="r0">-</option>
                              <option value="Baby Children Room">Baby Children Room</option>
                              <option value="Bedroom">Bedroom</option>
                              <option value="Dining">Dining</option>
                              <option value="Hallway">Hallway</option>
                              <option value="Home Office">Home Office</option>
                              <option value="Kitchen">Kitchen</option>
                              <option value="Laundry">Laundry</option>
                              <option value="Living Room">Living Room</option>
                              <option value="Outdoor">Outdoor</option>
                         </select>

               <button type="submit" form="form1" value="Submit">Submit</button>
          </form>
          
          <br>
          <br>

          <form action="/object_search" method="POST" id="form2">
               <input type="text" placeholder="Type object name here" name="search">
               <button>Search</button> 
               <br>
               <br>
               <input type="text" placeholder="Type object name here" name="search_d">
               <button>Search with description</button>
               <br>
               <br>
               <input type="text" placeholder="Type object name here" name="search_d">
               <button>Search with description</button>
               
               <div align = "center">
                    List of Objects: <br>
               <textarea rows="20" cols="50" name="List of Objects" spellcheck="False" Align> 
'Easel',
'Reversible bed',
'Quilt cover and pillowcase',
'Bed pocket',
'Frame',
'Storage box',
'Watercolour box',
'Folding gym mat',
'Rug, braided',
'Stool cover',
"Children's stool",
'Wall storage',
'Basket, set of 2',
'Wardrobe',
'Pendant lamp',
'Footstool',
'Bedspread',
'Fabric',
'3-piece train set',
'12-piece train set, bridge, tunnel',
'20-piece basic train set',
'Rail',
'Cot with drawers',
'Quilt cover,pillowcase for cot',
'Changing table with 3 drawers',
'Storage bench',
'Book display',
'Bed canopy',
'Wall lamp',
'Rug',
'Curtains with tie-backs, 1 pair',
'Mobile',
'Cover',
'Babycare mat',
'Stor baskets changing tbl set of 4',
'Soft toy, set of 2',
'Crane with blocks',
'24 building blocks with wagon',
'Shape sorter',
'Cot',
'Chest of 2 drawers',
'Musical toy, sheep',
'Rattle',
'Washcloth',
'Fitted sheet',
'Loft bed frame',
'Desk top',
'Chest of 3 drawers',
'Storage combination with boxes',
'LED stool lamp, in,outdoor',
'Rug, low pile',
'Cushion',
'Wall clock',
'Hanger',
'Box with lid',
'LED work lamp',
'Noticeboard',
'Magazine file',
'Storage bag',
'Picture, set of 3',
'Door tag',
'Soft toy',
'Bracket',
'Wire basket',
'Shelf',
'Block-out roller blind',
'Knob rack with 4 knobs',
'Box',
'Basket, set of 4',
'Toddle truck',
'Bead roller coaster',
'Blanket',
'Window catch',
'Storage combination with drawers',
'Box with compartments',
'Ceiling lamp',
'Sleeping bag',
'Bed tent',
'Trunk for toys',
'Bed storage box',
'Drawing paper roll',
'Coloured pencil',
'Bed tent with curtain',
'Swing',
'Balancing bench',
'Storage combination with doors',
'Curtains, 1 pair',
'Clothes stand',
'Wall hook',
'Play mat',
'Comfort blanket with soft toy',
'Playbook',
"Children's coat-hanger",
'Baby towel with hood',
'Quilt cover and 2 pillowcases',
'Cone',
'Board game',
'Kalaha game',
'Stacking game',
'Ext bed frame with slatted bed base',
'Paint,draw storage',
'Rug, flatwoven',
'Picture ledge',
'Stamp pen',
'Fluorescent,glitter paint',
'3-piece bedlinen set for cot',
'Cot skirt',
'Rack with 3 hooks',
'Soft toy with clothes',
'Rug, high pile',
'Pendant lamp shade',
'Muslin square',
'Storage combination w doors,drawers',
'10-piece coffee,tea set',
'Toy cash register',
'Storage crate with castors',
'Bed frm w headboard+slatted bd base',
'Underbed',
'Headboard with storage compartment',
'Wall pockets',
'Wardrobe with 2 doors+2 drawers',
'Extendable bed',
'Mirror',
'Table mirror with storage',
'Clothes stand cover',
"Children's tent",
'Play tunnel',
'Frame for 2 pictures',
"Children's desk",
'Bench',
'Bench pad',
'Basket with lid',
'Juggling set',
'Changing table,cabinet',
'Baby gym',
'Bunk bed frame',
'Paper decoration set',
'Baby bath',
'Quilt cover and 4 pillowcases',
'Fitted sheet for cot',
'Wall cabinet',
'Cabinet with shelf unit',
'Knob rack with 3 knobs',
'Squeaky toy',
'Play kitchen',
'5-piece toy cookware set',
'Storage combination',
'5-piece toy kitchen utensil set',
'9-piece fruit basket set',
'14-piece vegetables set',
'Childrens apron with chefs hat',
'5-p serving stand with cupcakes set',
'LED night light',
'Art card',
'Toy storage with wheels',
'Dolls house,wall shelf',
"Doll's furniture, living-room",
'LED wall lamp',
'Loft bed combo w 3 drawers,2 doors',
'Bed frame w storage+slatted bedbase',
'Throw',
'Wall,clamp spotlight',
'Picture',
'Decoration stickers',
'Dice',
'Throwing game',
'Storage combination with bench',
'Toy car',
'Toy vehicle',
'Curtain rod set',
'Frame with LED lighting',
'LED decoration light chain 15 balls',
'Quilt,blanket',
'Floor lamp',
'Cushion cover',
'Mirror cabinet with 2 doors',
'Wash-stand with 2 drawers',
'Wash-basin mixer tap with strainer',
'Detergent dispenser',
'High cabinet with mirror door',
'Towel rack with 5 hooks',
'Towel hanger,shelf',
'Bath towel',
'Toilet roll holder',
'Bin with lid',
'Bath mat',
'Corner unit',
'Wash-basin cabinet with 1 door',
'Mirror with shelf',
'Shower curtain',
'Hook',
'Towel rail',
'Box with lid, set of 3',
'Trolley',
'Wall shelf',
'Open storage',
'Hand towel',
'Soap dispenser',
'Soap dish',
'Bath sheet',
'Jar with lid',
'2-piece bathroom set',
'Step stool',
'High cabinet',
'Box with lid, set of 5',
'Towel rack',
'Storage unit',
'Toilet seat',
'Mug',
'Towel holder 4 bars',
'Basket with suction cup',
'Mirror with integrated lighting',
'Wash-basin cabinet with 2 doors',
'Lockable cabinet',
'Double hook',
'Washbasin cabinet with 2 doors',
'High cabinet with 1 door',
'Knob',
'Scented candle in glass',
'Wsh-stnd w countertop 45 wsh-basin',
'Glass shelf',
'Toothbrush holder',
'Wash-basin mixer tap',
'Basket',
'Mirror cabinet with 1 door',
'Mirror cabinet',
'Shelving unit',
'Corner shelf unit',
'Single wash-basin',
'Mirror cab 2 door,built-in lighting',
'Whiskey glass',
'LED cabinet,wall lighting',
'Wash-stand with 2 drawers,1 door',
'Mirror with hooks and suction cup',
'Ceiling,wall lamp',
'Vase, set of 2',
'Hook with suction cup',
'Shower curtain ring',
'Wash-basin,corner shelf',
'Toilet roll stand',
'Box, set of 3',
'End unit',
'High cabinet with 2 doors',
'LED wall lamp with mirror',
'Shower shelf',
'Towel hanger',
'Knob hanger',
'Toilet brush,holder',
'Shower curtain rod',
'Wash-stand with 4 drawers',
'Wall cabinet with 1 door',
'Stool',
'Greenhouse',
'Towel rack with 2 hooks',
'Vase',
'Hanging storage',
'Soap dispenser holder',
'Floor lamp base',
'Over-the-door mirror',
'Work lamp',
'Handle',
'Floor,reading lamp',
'Shoe box',
'Chest of 4 drawers',
'Bed frame',
'Sheepskin',
'Sheer curtains, 1 pair',
'LED cabinet lighting',
'Chest of 5 drawers',
'Roman blind',
'Alarm clock',
'Chest of 7 drawers',
'Table lamp with wireless charging',
'Bed frame with storage',
'Clothes rack, in,outdoor',
'Box file, set of 3',
'Wardrobe with 3 doors',
'Table lamp',
'Valet stand',
'Pillowcase',
'Container',
'Decoration, ball',
'LED lighting strip',
'Storage case',
'Wardrobe with 2 sliding doors',
'Stepladder, 3 steps',
'1 section',
'Pendant downlighter',
'Wall newspaper rack',
'Day-bed frame',
'Cabinet',
'Stool, in,outdoor',
'LED floor,read lamp',
'Tray',
'Clothes rack',
'Footstool with storage',
'Cow hide',
'Chandelier',
'Standing mirror',
'Chest of 8 drawers',
'Shelf unit with doors',
'LED spotlight',
'Carafe',
'Lamp shade',
'Chest of 9 drawers',
'LED work lamp w wireless charging',
'Carafe with stopper',
'Serving bowl',
'Cord set',
'Sideboard',
'LED spotlight and clamp',
'Trouser,skirt hanger',
'Day-bed frame with 3 drawers',
'Clothes bar',
'Chest of 6 drawers',
'Pendant lamp, 3-armed',
'Chest of 4 drawers,2 compartments',
'Glass-door wall cabinet',
'Table lamp base',
'Chest of 3 drawers,1 door',
'Vase, set of 3',
'Finials, 1 pair',
'Rocking-chair',
'Pouffe',
'LED wall,clamp spotlight',
'Mattress for extendable bed',
'Fitted sheet for ext bed, set of 2',
'Glove puppet',
'Laundry basket',
'Eagle costume',
'Paper',
'Felt-tip pen',
'Pillow, softer',
'Duvet, 12 TOG',
'Cushion pad',
'Hanging shoe organiser w 16 pockets',
'Sprung mattress',
'Pillow, firmer',
'Sheet',
'Box, set of 6',
'Valet hanger',
'Wardrobe frame',
'Door',
'Pull-out tray with jewellery insert',
'Shoe shelf',
'Power supply cord',
'3 sections',
'2 sections',
'Chair cushion',
'Glass-door cabinet with 3 drawers',
'Coffee,tea maker',
'Trestle',
'Glass-door cabinet',
'Bookcase',
'Bench cover',
'Jug',
'Deep plate',
'Bowl',
'Espresso cup',
'Shelving unit with drawers',
'Spice mill',
'Magazine file set of 2',
'Clock',
'Drawer front',
'Single-lever kitchen mixer tap',
'Storage table',
'Open cabinet',
'Pendant lamp double',
'Chopping board',
'Candlestick for 3 candles',
'Glass dome with base',
'Picture, set of 9',
'Wall cabinet with 2 drawers',
'Deep plate,bowl',
'Jug with lid',
'Coaster',
'Place mat',
'Glass',
'Box with lid, set of 4',
'Worktop, double-sided',
'Oven',
'Pot with lid',
'Fork',
'Plate',
'Training beaker',
'Glass-door cabinet with 2 doors',
'Standing laptop station',
'Floor lamp with wireless charging',
'Poster',
'Chair pad',
'Wall cabinet with shelves,2 doors',
'Leg frame',
'Supporting leg',
'Side plate',
'Bottle with stopper',
'Cabinet with panel,glass-door',
'Carafe with lid',
'Serving stand, two tiers',
'Saucepan with lid',
'Lantern for block candle',
'Bar stool with backrest',
'Cellular blind',
'Teapot',
'Table mirror',
'Red wine glass',
'24-piece cutlery set',
'Vase,lantern',
'Candlestick,candleholder, set of 3',
'Cutlery stand',
'Shelf unit with door',
'Salt,pepper shaker, set of 2',
'Bench with shoe storage',
'Hat rack',
'Door mat',
'Shoe cabinet with 3 compartments',
'Shoe cabinet with 2 compartments',
'Hat and coat stand',
'Hanger, in,outdoor',
'Hanger with clip',
'Wall storage with knob',
'Shoehorn',
'Writing,magnetic board',
'Triple pad for wireless charging',
'Shoe cabinet with 4 compartments',
'7-piece container set with rail',
'Waste sorting bin',
'Hanger for door,wall',
'Folding hook',
'Storage module',
'Rack with 7 hooks',
'Post,foot,mesh baskets',
'2 sections,shelves',
'Clipboard',
'S-hook',
'Desk',
'Mini chest with 3 drawers',
'Wall cabinet with glass door',
'Hanging decoration',
'Add-on unit',
'Drawer unit on castors',
'Drawer unit',
'Desk with add-on unit',
'Frame, set of 4',
'LED lighting box',
'Workstation',
'LED 4-piece lighting strip set',
'LED work,wall lamp',
'Cable trunking horizontal',
'Wall cabinet with 2 doors',
'Standing desk',
'2 sections,shelves,cabinet',
'Single pad for wireless charging',
'Desk organiser',
'Drawer unit with 9 drawers',
'Decoration',
'Wastepaper basket',
'Glass ceramic hob',
'Built-in extractor hood',
'Inset sink, 2 bowls',
'Inset sink, 1 bowl',
'Induction hob',
'Microwave oven',
'Holder for containers',
'Inset sink, 1 bowl with drainboard',
'Dish drainer',
'Ceiling spotlight with 5 spots',
'Worktop',
'Wall mounted extractor hood',
'Dual-control kitchen mixer tap',
'Gas hob',
'Side unit',
'Serving stand with lid',
'Double bowl',
'Kitchen trolley',
'Pestle and mortar',
'Base cabinet with doors and drawer',
'Wall cabinet with doors',
'Fridge with freezer compartment A++',
'Ceiling track, 3-spots',
'Watering can',
'LED worktop lighting',
'4-piece kitchen utensil set',
'Kitchen mixer tap',
'Wall panel',
'Serving plate',
'Glass door',
'Onset sink, 2 bowls',
'Pyrolytic oven',
'Casserole with lid',
'Tea towel',
'Work bench',
'Holder with containers',
'Stockpot with lid',
'Balloon whisk',
'Leg',
'Microwave combi with forced air',
'Single-bowl inset sink',
'Extractor hood',
'Induction hob with booster',
'Spoon',
'Kitchen island',
'Bar stool',
'Sink bowl',
'Mini-kitchen',
'Fridge A+',
'Portable induction hob',
'Wall upright,shelves',
'Box with handle',
"Cook's knife",
'Magnetic knife rack',
'Fridge,freezer A++',
'Induction hob with bridge function',
'Wall rail with hooks',
'Wine glass',
'Seat module',
'Vegetable knife',
'Inset sink 1 1,2 bowl',
'Cover for chaise longue',
'Corner cabinet',
'Domino glass ceramic hob',
'Espresso maker for 6 cups',
'Apron',
'Kitchen mixer tap,handspray',
'3-piece oil,vinegar set',
'Plate shelf',
'Wall cabinet w shelves,2 glass drs',
'Pleated blind',
'Knife holder',
'Tablet stand',
'Post,foot,drying rack',
'Storage bag with stand',
'Flexi clothes-basket, in,outdoor',
'Peg basket with 30 clothes pegs',
'Hanging dryer 16 clothes pegs',
'Ironingboard, table',
'7-piece cleaning set w string mop',
'Drying rack, in,outdoor',
'Wall upright,shelves,drying rack',
'Soap dispenser with suction cup',
'Ironing board',
'High cabinet with door',
'Sideboard basic unit',
'Candle holder, set of 2',
'TV bench',
'LED multi-use lighting',
'Block candle holder',
'Tealight holder',
'Chaise longue',
'Insert with door',
'Floor lamp with 2 shades',
'Bureau',
'Vase,bowl, set of 3',
'Decoration ball, set of 8',
'Glass-door cabinet with 4 drawers',
'Bookcase with glass door',
'Decoration set of 3',
'Candle holder, set of 3',
'TV bench with sliding doors',
'Cabinet with doors',
'Shelf unit',
'Net curtains, 1 pair',
'Potting bench',
'Greenhouse,cabinet, in,outdoor',
'Shelving unit in,outdoor',
'Box with lid, in,outdoor',
'Trellis',
'Flower box',
'Floor decking, outdoor',
'Chair cushion, outdoor',
'LED lighting chain with 12 lights',
'Stool, outdoor',
'Bench, in,outdoor',
'Plastic-coated fabric',
'LED lighting chain with 48 lights',
'Back cushion, outdoor',
'Bench, outdoor',
'Parasol',
'Wood stain, outdoor use',
'Seat,back cushion, outdoor',
'Charcoal barbecue with trolley',
'Parasol, hanging with base',
'Shelving unit, outdoor',
'4-seat conversation set, outdoor',
'Gazebo',
'Parasol base',
'Paper napkin',
'Bench with backrest, outdoor',
'Parasol, hanging',
'Bench with wall panel, outdoor',
'Shelf for wall panel, outdoor',
'Parasol with base',
'Canopy'
               </textarea>
          </div>

          </form>

     </Body>   
</Html> 