<!Doctype Html>  
<Html>     
     <Head>
          <Title>     
               Beautiful Soup Interior Design 
          </Title>  
     </Head>  

     <Body> 
          <img src="/static/image_1.jpg"/>
          <h1>Interior Design</h1>  

          <h2>Showing images of {{o_name}}</h2>

          <h3>{{O1}}</h3> <br>
          <img src={{im1}}> <br>
          <p>
               {{l1}}<br>
               {{l2}}<br>
               {{l3}}<br>
               {{l4}}<br>
               {{l5}}<br>
          </p>

          <h3>{{O2}}</h3> <br>
          <img src={{im2}}> <br>
          <p>
               {{l6}}<br>
               {{l7}}<br>
               {{l8}}<br>
               {{l9}}<br>
               {{l10}}<br>
          </p>
         

     </Body>   
</Html> 