<!Doctype Html>  
<Html>     
     <Head>
          <Title>     
               Beautiful Soup Interior Design 
          </Title>  
     </Head>  

     <Body> 
          <img src="/static/image_1.jpg"/>
          <h1>Interior Design</h1>  

          <h2>Showing images of {{o_name}}</h2>

          <h3>{{O1}}</h3> <br>
          <img src={{im1}}> <br>
          <h3>{O2}}</h3> <br>
          <img src={{im2}}> <br>
          <h3>{O3}}</h3> <br>
          <img src={{im3}}> <br>
          <h3>{O4}}</h3> <br>
          <img src={{im4}}> <br>
          <h3>{O5}}</h3> <br>
          <img src={{im5}}> <br>
         

     </Body>   
</Html> 