<!DOCTYPE html>
<html>
<head>
 <title></title>
</head>
<body>
<style>
 
 td {
        width: 150px;
        text-align: center;
        border: 1px solid black;
        padding: 5px;
      }
</style>
<h1>Welcome {{ insurance_name }}!</h1>
<h1>Here's a list of your patients' payment records:</h1>
<p></p>
<table>
  <thead>
    <tr>
        <th>Patient ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Doctor Name</th>
        <th>Doctor Phone</th>
        <th>Hospital Name</th>
        <th>Hospital Phone</th>
        <th>Insurance ID</th>
        <th></th>
    </tr>
    </thead>    
    <tbody>
     {% for row in data %}    
            <tr>
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
                <td>{{row[13]}}</td>
                <td>{{row[14]}}</td>
                <td>{{row[16]}}</td>
                <td>{{row[17]}}</td>
                <td>{{row[19]}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</body>
</html>