<!Doctype Html>  
<Html>     
     <Head>
          <Title>     
               Beautiful Soup Interior Design 
          </Title>  
     </Head>  

     <Body> 
          <img src="/static/image_1.jpg"/>
          <h1>Interior Design</h1>  

          <h2>Showing images of {{room_name}}</h2>
          <h3>Room 1</h3> <br>
          <img src={{im1}}> <br>
          <h3>Room 2</h3> <br>
          <img src={{im2}}> <br>
          <h3>Room 3</h3> <br>
          <img src={{im3}}> <br>
          <h3>Room 4</h3> <br>
          <img src={{im4}}> <br>
          <h3>Room 5</h3> <br>
          <img src={{im5}}> <br>

     </Body>   
</Html> 